/*-- scss:defaults --*/
$link-color: #170A7D;


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #333333;
}

h1 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
  text-align: center;
}

h2, h4 {
  color: #2980b9;
  border: none;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
}

.quarto-title {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #333333;
}

.banner {
  padding: 100px 25px;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  color: white;
  font-size: 3em;
}

.banner p {
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .banner {
    font-size: 2em;
  }
}


.center {
  text-align: center;
}

.navbar-logo {
  max-height: 48px;
}
